.contact__options{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 10% auto;
    
}
.contact__option{
    background: var(--secondary-color);
    padding: 1.2rem 0;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 100%;
}
.contact__option:hover{
    background: transparent;
    border-color: var(--primary-color);
}
.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;    color: var(--font-color);

}
.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;    color: var(--font-color);

}

@media screen and (max-width:1920px) {
    
    .contact__options{
       
        width: 60%;
        margin: 10% auto;
        
    }
}
@media screen and (max-width:1920px) {
    
    .contact__options{
       
        width: 80%;
        margin: 10% auto;
        
    }
}

@media screen and (max-width:768px) {
    
    .contact__options{
       
        flex-wrap: wrap;
        margin-bottom: 5rem;
      
    }
    .contact__option{
      
        width: 80%;
    }
}
@media screen and (max-width:500px) {
    
   
    .contact__option{
      
        width: 95%;
    }
}
