header {
  overflow: hidden;
  background: url(../../assets/bgblobs.svg) no-repeat bottom / cover;
  color: var(--bg-color);
  padding: 150px 0;
}
.lamp_wrapper{
  width: 80px;
  position: absolute;
  left: 48%;
  top: -6%;
}

.lamp{
  width: 100%;
  opacity: var(--light-opacity);

}
.light{
  width: 300px;
  position: absolute;
  transform: translateX(-48%);
  top: 97%;
  left: 50%;
  margin-left: -10px;
  opacity: var(--light-opacity);
}
.header__container {
  text-align: center;
  height: 100%;
}
/*CTA*/
.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.row {
  display: grid;
  grid-template-columns: 0.1fr 4fr 0.1fr;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  gap: 2rem;

}
.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }
.row p{
    text-align: left;
    width: 100%;
    padding: 1.5rem;
    background-color: transparent;
    color: var(--font-color);
    margin-left: -6rem;
    font-weight: lighter;
    font-size: 1.5rem;
    

}
.row p span{
    font-weight: 700;
    color: var(--heading-color) ;
    font-size: 1.3rem;

}
.row p span a{
    font-weight: 700;
    color: var(--heading-color) ;
    font-size: 1.1rem;
    text-decoration: underline;

}
/*socials*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--primary-color);
}

/*ME*/
.blob{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.me {
   background: url(../../assets/me.png);
   -webkit-background-size:cover ;
   background-size: cover;
   background-position: center center;
   height: 18rem;
   width: 18rem;
   animation:animate 5s ease-in-out infinite;
   transition:all 1s ease-in-out
  }
  @keyframes animate{
    0%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 60%;
    }}
  

.scroll__down {
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--font-color);
  text-decoration: underline;

}
@media screen and (max-width: 1700px) {
  header {
   
    padding: 100px 0px;
  }
 
  .row {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    gap: 2rem;
  
  }
 
  .row p{
     
      padding: 0rem;
 
      margin-left: 0rem;
      
      
  
  }
  .row p span{
      font-weight: 700;
      color: var(--heading-color) ;
      font-size: 1.3rem;
  
  }
  .row p span a{
      font-weight: 700;
      color: var(--heading-color) ;
      font-size: 1.1rem;
      text-decoration: underline;
  
  }

  
  /*ME*/
  .blob{
   
    height: 50vh;
  }
  .me {
     
     height: 15rem;
     width: 15rem;
     
    }
}
@media screen and (max-width: 768px) {
.block{
    display: grid;
    grid-template-columns: 2fr;
}
.row p{
 
 
  font-size: 0.8rem;
  

}

.row p span a{

  font-size: 0.7rem;

}
.blob{
  
  height: 30vh;
}
.me {

   height: 8rem;
   width: 8rem;
  
  }
  .lamp_wrapper{
    width: 50px;
    position: absolute;
    left: 48%;
    top: -6%;
  }
  .light{
    width: 180px;
    position: absolute;
    transform: translateX(-48%);
    top: 97%;
    left: 55%;
    margin-left: -10px;
    opacity: var(--light-opacity);
  }
  header h1{
    font-size: 1.5rem;
  }
   header .btn{
    padding: 10px ;
    font-size: 14px;
  }
}
