footer{
    background: url(../../assets/blobs.svg) no-repeat bottom / cover;
    background-color: var(--bg-color);
height: 600px;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
}
footer a{
    color: var(--font-color);
}
.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer__socials a{
    background: #82B2CA;
    color: var(--bg-color) ;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__copyright{
    margin-bottom: 4rem;
    color: white ;
}
@media screen and (max-width:600px) {
 
    .footer__socials{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    footer{
        padding: 2rem;
        text-align: center;
        font-size: 0.9rem;    }
   
    .footer__socials a{
        background: var(--bg-color);
        color: #fff;
        padding: 0.5rem;
        border-radius: 0.7rem;
        display: flex;
        border: 1px solid transparent;
    }

}