.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.slick-slider {
    margin: 0 auto;
    width: 90%;
    padding: 0 80px;
  }
  
  .slick-slide div {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
  }
  .slick-slide div img{
    width: 150px;
    height: 150px;
  }
  
.experience__container > div{
    background: var(--secondary-color);
    padding: 2.4rem 5rem;
    border-radius: 50% 20% / 10% 40%;
    border: 1px solid transparent;
    transition: var(--transition);
}
.experience__container > div:hover{
    background: transparent;
    border-color: var(--primary-color-variant);
    cursor: default;
}
.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.experience__details{
    display: flex;
    gap: 1rem;
}
.experience__details-icon{
    margin-top: 6px;
    color: var(--primary-color);
}
@media screen and (max-width:1024px) {
    .slick-slider {
        margin: 0 auto;
        width: 90%;
        padding: 0 0px;
      }
      
      .slick-slide div {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
      }
      .slick-slide div img{
        width: 50px;
        height: 50px;
      }
    .experience__container{
        grid-template-columns: 1fr;
    }
    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: auto;
    }
    .experience__content{
        padding: 1rem;
    }
}
@media screen and (max-width:600px) {
    .experience__container > div{
        padding: 1rem;
    }
    .experience__container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .experience__container > div h3{
        margin-bottom: 1rem;
    }
    .experience__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }
    .experience__details{
        display: flex;
        gap: 1rem;
    }
}