@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
}

:root {
    --primary-color: #82B2CA;
    --secondary-color: #00293d;
    --font-color: #fff;
    --bg-color: #000e14;
    --heading-color: hsla(0,0%,100%,.6);
    --light-opacity:1;
}

[data-theme="dark"] {
    --primary-color: #82B2CA;
    --secondary-color: #00293d;
    --font-color: #fff;
    --bg-color: #000e14;
    --heading-color: hsla(0,0%,100%,.6);
    --light-opacity:1;

}

[data-theme="light"] {
    --primary-color: #00293d;
    --secondary-color: #00293d;
    --font-color: #000;
    --bg-color: #82B2CA;
    --heading-color: rgb(236, 24, 59);
    --light-opacity:0;

}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: #fff;
    line-height: 1.7;
}

.container {
    width: 75%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    color: var(--font-color);

}

section {
    margin-top: 10rem;
    height: 100%;
}

section>h2 {
    text-align: center;
    color: var(--heading-color);
}

section>h5 {
    text-align: center;
    color: var(--heading-color);
    padding: 2rem 0 0 0;
}

section>h2 {
    color: var(--primary-color);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--heading-color);
}

a {
    color: var(--primary-color);
    transition: all 0.3s;
}

a:hover {
    color: #fff;
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--primary-color);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.btn:hover {
    background: #fff;
    color: var(--bg-color);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*===========media queries (medium devices : tablets)=======*/
@media screen and (max-width:1024px) {
    .container {
        width: 86%;
    }

    section {
        margin-top: 6rem;
    }
}

/*===========media queries (small devices : phones)=======*/
@media screen and (max-width:600px) {
    .container {
        width: 90%;
    }

    section>h2 {
        margin-bottom: 2rem;
    }
}